<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header  th:fragment="header_normal" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">CarSale.io</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Домашняя страница</a></li>
        <li class="nav-item"><a href="/brands" class="nav-link">Брэнды</a></li>
        <li class="nav-item"><a href="/models/all" class="nav-link">Модели</a></li>
    </ul>
</header>
</body>
</html>