<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header  th:fragment="header_normal" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">CarSale.io</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Домашняя страница</a></li>
        <li class="nav-item"><a href="/brands" class="nav-link">Брэнды</a></li>
        <li class="nav-item"><a href="/models/all" class="nav-link">Модели</a></li>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <li class="nav-item"><a th:href="@{/users/dashboard}" class="nav-link">Личный кабинет</a></li>
            <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Выйти</a></li>
            <li class="nav-item"><a th:href="@{/offers/recent}" class="nav-link">Недавно просмотренные</a></li>
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li class="nav-item"><a th:href="@{/admin/dashboard}" class="nav-link">Панель администратора</a></li>
            </th:block>
        </th:block>
        <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
            <li class="nav-item"><a th:href="@{/login}" class="nav-link">Войти</a></li>
            <li class="nav-item"><a th:href="@{/users/registration}" class="nav-link">Регистрация</a></li>
        </th:block>
    </ul>
</header>
</body>
</html>