<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form action="#" th:action="@{/adduser}" th:object="${UserDTO}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{password}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{password}"></span>
    <input type="submit" value="Add User">
</form></body>
</html>