<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offers Management</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Предложения</h2>

    <!-- Table of Offers -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Продавец</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.id}"></td>
            <td th:text="${offer.sellerUsername}"></td>
            <td th:text="${offer.description}"></td>
            <td th:text="${offer.price}"></td>
            <td>
                <a th:href="@{'edit-offer/' + ${offer.id}}" class="btn btn-warning btn-sm">Update</a>

                <a th:href="@{'delete-offer/' + ${offer.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this offer?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>